* {
	margin: 0;
	padding: 0;
}
body {
  font-family: 'Raleway', sans-serif;
}

.outer {
  display: flex;
  position: absolute;
  flex-flow: column;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fate,
.effects {
  background: #f1f1f1;
  flex: 1;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-flow: column;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#fate {
  background: #f9f9f9;
  flex: 3;
}
.effects {
  display: flex;
  flex-flow: row;
}
.effects div {
  display: flex;
  flex-flow: column;
  flex: 1;
  justify-content: center;
  border-right: 1px solid #ccc;
}
.effects div:last-child {
  border: none;
}
.effects div p {
  font-size: 1.5em;
}
h2, p, em {
  padding: 0 10%;
  text-align: center;
}
h2 {
  font-size: 1.5em;
  font-weight: 400;
  text-align: center;
}
p {
  font-size: 2em;
  font-weight: 700;
}
#fate.commonPositive,
#fate.commonNegative,
.common {
  background: #81D4FA;
}
#fate.rarePositive,
#fate.rareNegative,
.rare {
  background: #4527A0;
}

.aggressive {
  background: #B71C1C;
}
.protective {
  background: #4CAF50;
}

#fate.rareNegative, 
#fate.commonNegative {
  color: #B71C1C;
}
#fate.rarePositive,
#fate.commonPositive {
  color: #4CAF50;
}